ui-table/sample_flows.json
[
    {
        "id": "db4acdc7.c6baa",
        "type": "tab",
        "label": "[iaCloud dashboard]テストフロー",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c113b6b.9d0cc4",
        "type": "inject",
        "z": "db4acdc7.c6baa",
        "name": "アラーム&イベント",
        "topic": "",
        "payload": "{\"Items\":[{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T15:28:33+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T15:28:33+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T15:32:23+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T15:32:23+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T15:40:54+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T15:40:54+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T15:46:45+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"on\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T15:46:45+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T16:02:46+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"on\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T16:02:46+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T16:02:56+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T16:02:56+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T16:37:04+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T16:37:04+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T17:13:12+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T17:13:12+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T17:40:04+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T17:40:04+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T17:53:06+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T17:53:06+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T17:53:11+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T17:53:11+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T17:55:31+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T17:55:31+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T18:18:03+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T18:18:03+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T18:31:05+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T18:31:05+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T19:05:48+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T19:05:48+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T19:57:08+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T19:57:08+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T20:53:58+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T20:53:58+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T21:32:42+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T21:32:42+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T22:09:10+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T22:09:10+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T22:15:20+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"on\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T22:15:20+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T22:50:53+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"on\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T22:50:53+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T22:50:58+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T22:50:58+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T23:14:45+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"set\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T23:14:45+09:00\"},{\"objectKey\":\"HandsonUser0.AnETest\",\"dataObject\":{\"timeStamp\":\"2019-11-17T23:18:06+09:00\",\"ObjectContent\":{\"contentType\":\"Alarm&Event\",\"contentData\":[{\"dataValue\":{\"AnEStatus\":\"reset\",\"AnEDescription\":\"S103のセンサ異常が発生しました。\",\"AnECode\":\"S103\"},\"commonName\":\"Alarm&Event\"},{\"dataValue\":{\"AnEStatus\":\"off\",\"AnEDescription\":\"ゾーン1での温度上昇異常\",\"AnECode\":\"ZT01\"},\"commonName\":\"Alarm&Event\"}]},\"objectKey\":\"HandsonUser0.AnETest\",\"objectType\":\"iaCloudObject\",\"objectDescription\":\"HandsonUser0アラームイベントデータのテストデータ\"},\"timestamp\":\"2019-11-17T23:18:06+09:00\"}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "ef343c15.2aa72"
            ]
        ]
    },
    {
        "id": "ef343c15.2aa72",
        "type": "ui_table",
        "z": "db4acdc7.c6baa",
        "confsel": "dynamodbSet",
        "group": "61d7cac5.e56ae4",
        "name": "アラーム&イベントテーブル",
        "label": "アラーム&イベント一覧",
        "order": 0,
        "width": 0,
        "height": 0,
        "contype1": "Alarm&Event",
        "contype2": "iaCloudData",
        "statuslist": "set,reset",
        "statuscheck-set": true,
        "statuscheck-reset": true,
        "statuscheck-on": "",
        "statuscheck-off": "",
        "item": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cd7741f.d191ec",
        "type": "inject",
        "z": "db4acdc7.c6baa",
        "name": "温度・湿度",
        "topic": "",
        "payload": "[{\"series\":[\"温度\",\"湿度\"],\"data\":[[{\"x\":\"2019-07-24T17:14:18+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:22+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:26+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:30+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:34+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:38+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:42+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:46+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:50+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:55+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:14:59+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:10+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:17+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:19+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:21+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:23+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:25+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:27+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:29+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:31+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:33+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:35+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:37+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:39+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:41+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:43+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:45+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:47+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:49+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:51+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:53+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:55+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:57+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:15:59+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:01+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:04+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:06+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:08+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:10+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:12+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:14+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:16+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:18+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:20+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:22+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:24+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:26+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:28+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:30+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:32+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:34+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:36+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:38+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:40+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:42+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:44+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:46+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:48+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:50+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:52+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:54+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:56+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:16:58+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:00+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:02+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:04+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:06+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:08+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:10+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:12+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:14+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:16+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:18+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:20+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:22+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:24+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:26+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:29+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:31+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:33+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:35+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:37+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:39+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:41+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:43+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:45+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:47+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:49+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:51+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:53+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:55+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:57+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:17:59+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:01+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:03+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:05+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:07+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:09+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:11+0900\",\"y\":24.5},{\"x\":\"2019-07-24T17:18:13+0900\",\"y\":24.5}],[{\"x\":\"2019-07-24T17:14:18+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:22+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:26+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:30+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:34+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:38+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:42+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:46+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:50+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:55+0900\",\"y\":74},{\"x\":\"2019-07-24T17:14:59+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:10+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:17+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:19+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:21+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:23+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:25+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:27+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:29+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:31+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:33+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:35+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:37+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:39+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:41+0900\",\"y\":74},{\"x\":\"2019-07-24T17:15:43+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:45+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:47+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:49+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:51+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:53+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:55+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:57+0900\",\"y\":73},{\"x\":\"2019-07-24T17:15:59+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:01+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:04+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:06+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:08+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:10+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:12+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:14+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:16+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:18+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:20+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:22+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:24+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:26+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:28+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:30+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:32+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:34+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:36+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:38+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:40+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:42+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:44+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:46+0900\",\"y\":73},{\"x\":\"2019-07-24T17:16:48+0900\",\"y\":74},{\"x\":\"2019-07-24T17:16:50+0900\",\"y\":74},{\"x\":\"2019-07-24T17:16:52+0900\",\"y\":74},{\"x\":\"2019-07-24T17:16:54+0900\",\"y\":74},{\"x\":\"2019-07-24T17:16:56+0900\",\"y\":74},{\"x\":\"2019-07-24T17:16:58+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:00+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:02+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:04+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:06+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:08+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:10+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:12+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:14+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:16+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:18+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:20+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:22+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:24+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:26+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:29+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:31+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:33+0900\",\"y\":73},{\"x\":\"2019-07-24T17:17:35+0900\",\"y\":73},{\"x\":\"2019-07-24T17:17:37+0900\",\"y\":73},{\"x\":\"2019-07-24T17:17:39+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:41+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:43+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:45+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:47+0900\",\"y\":73},{\"x\":\"2019-07-24T17:17:49+0900\",\"y\":73},{\"x\":\"2019-07-24T17:17:51+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:53+0900\",\"y\":73},{\"x\":\"2019-07-24T17:17:55+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:57+0900\",\"y\":74},{\"x\":\"2019-07-24T17:17:59+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:01+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:03+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:05+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:07+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:09+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:11+0900\",\"y\":74},{\"x\":\"2019-07-24T17:18:13+0900\",\"y\":74}]],\"labels\":[\"\"]}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "1e4f80ee.f4fccf"
            ]
        ]
    },
    {
        "id": "1e4f80ee.f4fccf",
        "type": "ui_table",
        "z": "db4acdc7.c6baa",
        "confsel": "inchartSet",
        "group": "61d7cac5.e56ae4",
        "name": "温度・一覧テーブル",
        "label": "温度・湿度一覧",
        "order": 0,
        "width": 0,
        "height": 0,
        "contype1": "Alarm&Event",
        "contype2": "iaCloudData",
        "statuslist": "set,reset",
        "statuscheck-set": true,
        "statuscheck-reset": true,
        "statuscheck-on": "",
        "statuscheck-off": "",
        "item": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "61d7cac5.e56ae4",
        "type": "ui_group",
        "z": "",
        "name": "table",
        "tab": "7cf4b125.6c20c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7cf4b125.6c20c",
        "type": "ui_tab",
        "z": "",
        "name": "[iaCloud dashboard]テストフロー",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]