Flow/iacloudTEST_output.flow
[
    {
        "id": "29bf4ca0.adf8f4",
        "type": "tab",
        "label": "iacloud-dashboard　デモ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1710eed3.c662a1",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "b38a1ee5.89689",
                "4c748d88.1dff84"
            ]
        ]
    },
    {
        "id": "c983d12e.b520e",
        "type": "comment",
        "z": "29bf4ca0.adf8f4",
        "name": "機番M01_温度・電流",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "9f73d14.a7e6a3",
        "type": "ui_chart",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 2,
        "width": "3",
        "height": "2",
        "label": "機番M01　電流",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b38a1ee5.89689",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "電流取得・変換",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.CT-M01",
        "seriesObject": "[{\"dataName\":\"timeStamp\",\"displayName\":\"\"},{\"dataName\":\"CT-M01ct1\",\"displayName\":\"電流1ch\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": true,
        "aggregation": "average",
        "aggreunit": "minute",
        "decimalPoint": "2",
        "sort": "true",
        "limit": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "9f73d14.a7e6a3"
            ]
        ]
    },
    {
        "id": "6d688a88.5bb7b4",
        "type": "ui_chart",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 1,
        "width": "3",
        "height": "2",
        "label": "機番M01　温度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4c748d88.1dff84",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "温度取得・変換",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M01",
        "seriesObject": "[{\"dataName\":\"timeStamp\",\"displayName\":\"\"},{\"dataName\":\"TEMP-M01temp1\",\"displayName\":\"温度1ch\"},{\"dataName\":\"TEMP-M01temp2\",\"displayName\":\"温度2ch\"},{\"dataName\":\"TEMP-M01temp3\",\"displayName\":\"温度3ch\"},{\"dataName\":\"TEMP-M01temp4\",\"displayName\":\"温度4ch\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": true,
        "aggregation": "average",
        "aggreunit": "minute",
        "decimalPoint": "2",
        "sort": "true",
        "limit": "",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "6d688a88.5bb7b4"
            ]
        ]
    },
    {
        "id": "8040d71b.8ae358",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "bcec8536.66ed78",
                "dcd9e02a.6b53e",
                "61d0913a.a9b79",
                "43d3f893.2c1d78",
                "5a359e62.aabf"
            ]
        ]
    },
    {
        "id": "bcec8536.66ed78",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M01temp1取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M01",
        "series": "TEMP-M01temp1",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "98773c3c.4c569"
            ]
        ]
    },
    {
        "id": "98773c3c.4c569",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "TEMP-M01temp1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "dcd9e02a.6b53e",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M01temp2取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M01",
        "series": "TEMP-M01temp2",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "a1128194.0d0d9"
            ]
        ]
    },
    {
        "id": "61d0913a.a9b79",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M01temp3取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M01",
        "series": "TEMP-M01temp3",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "95b8180c.318248"
            ]
        ]
    },
    {
        "id": "43d3f893.2c1d78",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M01temp4取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M01",
        "series": "TEMP-M01temp4",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "d6f4b7c4.e57398"
            ]
        ]
    },
    {
        "id": "a1128194.0d0d9",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "TEMP-M01temp2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "95b8180c.318248",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "TEMP-M01temp3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "d6f4b7c4.e57398",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "TEMP-M01temp4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "5a359e62.aabf",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "CT-M01ct取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.CT-M01",
        "series": "CT-M01ct1",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "a9f25150.1893e"
            ]
        ]
    },
    {
        "id": "a9f25150.1893e",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "8d37288b.8b95c8",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "CT-M01ct1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.5",
        "seg2": "07.5",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "c195295b.9374a8",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "1b24b268.6e731e",
                "30a54cfd.ba88a4"
            ]
        ]
    },
    {
        "id": "ea67a81f.8b1ad8",
        "type": "comment",
        "z": "29bf4ca0.adf8f4",
        "name": "機番M02_温度・電流",
        "info": "",
        "x": 120,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b24b268.6e731e",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "電流取得・変換",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.CT-M02",
        "seriesObject": "[{\"dataName\":\"timeStamp\",\"displayName\":\"\"},{\"dataName\":\"CT-M02ct1\",\"displayName\":\"電流1ch\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": true,
        "aggregation": "average",
        "aggreunit": "minute",
        "decimalPoint": "2",
        "sort": "true",
        "limit": "",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "1cb6b1f.dfea74e"
            ]
        ]
    },
    {
        "id": "30a54cfd.ba88a4",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "温度取得・変換",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M02",
        "seriesObject": "[{\"dataName\":\"timeStamp\",\"displayName\":\"\"},{\"dataName\":\"TEMP-M02temp1\",\"displayName\":\"温度1ch\"},{\"dataName\":\"TEMP-M02temp2\",\"displayName\":\"温度2ch\"},{\"dataName\":\"TEMP-M02temp3\",\"displayName\":\"温度3ch\"},{\"dataName\":\"TEMP-M02temp4\",\"displayName\":\"温度4ch\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": true,
        "aggregation": "average",
        "aggreunit": "minute",
        "decimalPoint": "2",
        "sort": "true",
        "limit": "",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "8ee8aee7.c3fb9"
            ]
        ]
    },
    {
        "id": "5641ca66.cbb474",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "72089e2a.664f",
                "af68a10.a49da6",
                "1c90b8d3.831047",
                "2444e29.42ab31e",
                "2df7853.1f9f17a"
            ]
        ]
    },
    {
        "id": "72089e2a.664f",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M02temp1取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M02",
        "series": "TEMP-M02temp1",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "188eb944.feb8c7"
            ]
        ]
    },
    {
        "id": "af68a10.a49da6",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M02temp2取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M02",
        "series": "TEMP-M02temp2",
        "x": 360,
        "y": 580,
        "wires": [
            [
                "5dc8b8e2.fa3538"
            ]
        ]
    },
    {
        "id": "1c90b8d3.831047",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M02temp3取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M02",
        "series": "TEMP-M02temp3",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "9898adbc.2484a"
            ]
        ]
    },
    {
        "id": "2444e29.42ab31e",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "TEMP-M02temp4取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.TEMP-M02",
        "series": "TEMP-M02temp4",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "20f167cc.212ec8"
            ]
        ]
    },
    {
        "id": "2df7853.1f9f17a",
        "type": "getlatestdata",
        "z": "29bf4ca0.adf8f4",
        "name": "CT-M02ct取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.enocean.CT-M02",
        "series": "CT-M02ct1",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "39447703.227e18"
            ]
        ]
    },
    {
        "id": "1cb6b1f.dfea74e",
        "type": "ui_chart",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 2,
        "width": "3",
        "height": "2",
        "label": "機番M02　電流",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8ee8aee7.c3fb9",
        "type": "ui_chart",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 1,
        "width": "3",
        "height": "2",
        "label": "機番M02　温度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "188eb944.feb8c7",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "M02temp1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "5dc8b8e2.fa3538",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "M02temp2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "9898adbc.2484a",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "M02temp3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "20f167cc.212ec8",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "M02temp4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "39447703.227e18",
        "type": "ui_gauge",
        "z": "29bf4ca0.adf8f4",
        "name": "",
        "group": "ca01cf8a.e0266",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "gage",
        "title": "M01ct1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "0.5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.25",
        "seg2": "0.3",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "f737555f.eb9b88",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 820,
        "wires": [
            [
                "de8363f8.22b53",
                "8d45e6ed.2760f8"
            ]
        ]
    },
    {
        "id": "27ea70.b7a0d59",
        "type": "comment",
        "z": "29bf4ca0.adf8f4",
        "name": "制御盤CP-xxx_稼働・エラー信号",
        "info": "",
        "x": 170,
        "y": 780,
        "wires": []
    },
    {
        "id": "870ce2be.7a661",
        "type": "ui_oprstatus",
        "z": "29bf4ca0.adf8f4",
        "confsel": "inchartSet",
        "group": "4b940581.2bc96c",
        "label": "制御盤CP-xxx",
        "name": "制御盤CP-xxx　稼働信号",
        "order": 5,
        "width": "0",
        "height": "0",
        "item": "稼働信号",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "statusObject": "[{\"statusColor\":\"#008000\",\"statusValue\":\"true\",\"statusLabel\":\"稼動中\"},{\"statusColor\":\"#c0c0c0\",\"statusValue\":\"false\",\"statusLabel\":\"停止中\"}]",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "de8363f8.22b53",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "稼働信号取得・変換",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.CP-xxx:op-signal",
        "seriesObject": "[{\"dataName\":\"CP-xxxop-signal\",\"displayName\":\"\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": false,
        "aggregation": "max",
        "aggreunit": "year",
        "decimalPoint": "0",
        "sort": "true",
        "limit": "",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "870ce2be.7a661"
            ]
        ]
    },
    {
        "id": "8d45e6ed.2760f8",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "エラー信号取得・変換",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.CP-xxx:err-signal",
        "seriesObject": "[{\"dataName\":\"CP-xxxerr-signal\",\"displayName\":\"\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": false,
        "aggregation": "max",
        "aggreunit": "year",
        "decimalPoint": "0",
        "sort": "true",
        "limit": "",
        "x": 360,
        "y": 860,
        "wires": [
            [
                "48c2a250.f5d7ec"
            ]
        ]
    },
    {
        "id": "48c2a250.f5d7ec",
        "type": "ui_oprstatus",
        "z": "29bf4ca0.adf8f4",
        "confsel": "inchartSet",
        "group": "4b940581.2bc96c",
        "label": "",
        "name": "制御盤CP-xxx　エラー発生状況",
        "order": 3,
        "width": "0",
        "height": "0",
        "item": "エラー発生状況",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "statusObject": "[{\"statusColor\":\"#ff0000\",\"statusValue\":\"true\",\"statusLabel\":\"エラー発生中\"},{\"statusColor\":\"#c0c0c0\",\"statusValue\":\"false\",\"statusLabel\":\"通常稼動中\"}]",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "2ba46630.80ba9a",
        "type": "ui_oprstatus",
        "z": "29bf4ca0.adf8f4",
        "confsel": "formatSet",
        "group": "4b940581.2bc96c",
        "label": "制御盤XXX",
        "name": "稼働状況",
        "order": 1,
        "width": "0",
        "height": "0",
        "item": "稼働状況",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "statusObject": "[{\"statusColor\":\"#c0c0c0\",\"statusValue\":\"0\",\"statusLabel\":\"正常停止\"},{\"statusColor\":\"#008000\",\"statusValue\":\"1\",\"statusLabel\":\"正常稼働\"},{\"statusColor\":\"#0080ff\",\"statusValue\":\"2\",\"statusLabel\":\"エコ停止\"},{\"statusColor\":\"#ff0000\",\"statusValue\":\"9\",\"statusLabel\":\"異常停止\"}]",
        "x": 280,
        "y": 1100,
        "wires": []
    },
    {
        "id": "615b75.c120348c",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "[[\"2017-10-16T08:10:00+09:00\",0],[\"2017-10-16T08:11:00+09:00\",0],[\"2017-10-16T08:12:00+09:00\",1],[\"2017-10-16T08:13:00+09:00\",1],[\"2017-10-16T08:14:00+09:00\",1],[\"2017-10-16T08:15:00+09:00\",2],[\"2017-10-16T08:16:00+09:00\",2],[\"2017-10-16T08:17:00+09:00\",1],[\"2017-10-16T08:18:00+09:00\",9],[\"2017-10-16T08:19:00+09:00\",9],[\"2017-10-16T08:20:00+09:00\",9],[\"2017-10-16T08:21:00+09:00\",9],[\"2017-10-16T08:22:00+09:00\",9],[\"2017-10-16T08:23:00+09:00\",1],[\"2017-10-16T08:24:00+09:00\",0]]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "2ba46630.80ba9a"
            ]
        ]
    },
    {
        "id": "5bee02e0.fa66ac",
        "type": "comment",
        "z": "29bf4ca0.adf8f4",
        "name": "制御盤XXX　稼働状況グラフ",
        "info": "",
        "x": 160,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a6cecffa.dca8a",
        "type": "comment",
        "z": "29bf4ca0.adf8f4",
        "name": "アラーム情報",
        "info": "",
        "x": 110,
        "y": 920,
        "wires": []
    },
    {
        "id": "478e5376.16334c",
        "type": "inject",
        "z": "29bf4ca0.adf8f4",
        "name": "JSON",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 960,
        "wires": [
            [
                "a5c09b8c.0a3f08",
                "f155aa3b.dde548"
            ]
        ]
    },
    {
        "id": "923becc3.602d3",
        "type": "ui_table",
        "z": "29bf4ca0.adf8f4",
        "confsel": "inchartSet",
        "group": "9bd366d2.616c58",
        "name": "アラーム情報一覧",
        "label": "アラーム一覧",
        "order": 2,
        "width": "4",
        "height": "3",
        "item": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 590,
        "y": 960,
        "wires": []
    },
    {
        "id": "8948fef8.0e8bc",
        "type": "ui_spreadsheet",
        "z": "29bf4ca0.adf8f4",
        "confsel": "inchartSet",
        "group": "9bd366d2.616c58",
        "name": "アラーム集計",
        "label": "アラーム集計",
        "order": 1,
        "width": "4",
        "height": "2",
        "item": "nodesc",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 600,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f155aa3b.dde548",
        "type": "DynamoDB",
        "z": "29bf4ca0.adf8f4",
        "name": "アラーム情報取得",
        "tableName": "HackathonUser_1",
        "operation": "Query",
        "objectKey": "jp.co.iacloud.alarm",
        "stime": "",
        "etime": "",
        "aggregationCheck": false,
        "aggregation": "average",
        "aggreunit": "minute",
        "decimalPoint": "3",
        "sort": "true",
        "limit": "",
        "Item": "",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "8948fef8.0e8bc"
            ]
        ]
    },
    {
        "id": "a5c09b8c.0a3f08",
        "type": "getchartdata",
        "z": "29bf4ca0.adf8f4",
        "name": "アラーム情報取得",
        "tableName": "HackathonUser_1",
        "objectKey": "jp.co.iacloud.alarm",
        "seriesObject": "[{\"dataName\":\"timeStamp\",\"displayName\":\"\"},{\"dataName\":\"A&E Description\",\"displayName\":\"\"}]",
        "stime": "",
        "etime": "",
        "aggregationCheck": false,
        "aggregation": "max",
        "aggreunit": "year",
        "decimalPoint": "0",
        "sort": "true",
        "limit": "",
        "x": 340,
        "y": 960,
        "wires": [
            [
                "923becc3.602d3"
            ]
        ]
    },
    {
        "id": "8d37288b.8b95c8",
        "type": "ui_group",
        "z": "",
        "name": "iaCloudダッシュボード　M01温度・電流",
        "tab": "9df7a8f1.b2d958",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "ca01cf8a.e0266",
        "type": "ui_group",
        "z": "",
        "name": "iaCloudダッシュボード　M02温度・電流",
        "tab": "9df7a8f1.b2d958",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "4b940581.2bc96c",
        "type": "ui_group",
        "z": "",
        "name": "iaCloudダッシュボード　稼働・エラー信号",
        "tab": "9df7a8f1.b2d958",
        "order": 3,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "9bd366d2.616c58",
        "type": "ui_group",
        "z": "",
        "name": "iaCloudダッシュボード　アラーム情報",
        "tab": "9df7a8f1.b2d958",
        "order": 5,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "9df7a8f1.b2d958",
        "type": "ui_tab",
        "z": "",
        "name": "[デモ3]iaCloudダッシュボード",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]